:root {
  font-size: 16px;

  --neutral100: #b2b2b2;
  --neutral900: #1e1e1e;
  --red300: #f2979c;
  --magenta300: #cd97f2;
  --blue300: #97b4f2;
}

body {
  background: var(--neutral900);
  color: var(--neutral100);
  font-family: monospace;

  height: 100svh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.scoreboard {
  font-size: 2rem;
  font-weight: 700;

  width: 200px;

  display: flex;
  justify-content: space-between;
}

.player-x-mark,
.player-x-score {
  color: var(--blue300);
}

.player-o-mark,
.player-o-score {
  color: var(--red300);
}

.vs {
  color: var(--magenta300);
}

.gameboard {
  width: 320px;
  height: 320px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4px;

  background-color: var(--neutral100);
  border: 4px solid var(--neutral100);
}

.grid {
  background: var(--neutral900);
}

.grid:hover {
  opacity: 0.8;
  cursor: pointer;
}
